<div class="col-xs-12">
    
    <a href="#/addItem" style="margin-bottom: 10px" class="btn btn-lg btn-primary btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Add grocery item
    </a>
    
    <ul class="list-group">
        
        <li ng-repeat="item in groceryItems | orderBy: '-date'" class="list-group-item text-center clearfix">
            
            <tb-grocery-item></tb-grocery-item>  
            
        </li>
        
    </ul>
    
</div> 